<html>
    <head>
   
     {{>headerlinks}}

        <title>Document</title>
    </head>
    <body>

           {{>navbar}}

      {{!-- header --}}
        {{!-- <div class="container-fluid main_menu">
            <div class="row">
                <div class="col-md-10 mx-auto">

                    <nav class="navbar navbar-expand-lg ">
                        <a class="navbar-brand" href="#"><i class="far fa-snowflake"></i>2DayWeather  <i class="far fa-snowflake"></i></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/weather">Weather</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                              </li>
                              
                            </div>
                      </nav>

                </div>
            </div>
        </div>
 --}}

        <!-- main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="row">

                        <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="images/img5.png" alt="ravan" class="img-fluid" title="ravan lanka" width="300px">
                            </figure>
                        </div>

                        <div class="col-md-6 col-12 main_header_left">
                             <p>Welcome to Weather App</p>
                             <h1>I Am A  <span class="text_clr"> MEAN Stack Developer </span> And Impenitent <span class="text_clr">AI & ML</span> Enginner</h1>
                             <a href="/me"><button>About me</button></a>
                        </div>
                        
                        
                    </div>
                    </div> 
            </div>
        </div>


        <!-- footer code -->
         
         {{>footer}}

    </body>
</html>